:root {
  --vd-standart-font: "Poppins", sans-serif;
  --vd-cascade-grey: #95a5a6;
  --vd-grey: #f4f7f9;
  --vd-shadow: #00000017;
  --vd-light-info: #c5e7f8;
  --vd-grey-v-2: #e8ebf0;
  --vd-grey-v-4: #f5f5f5;
  --vd-dark-blue: #46618d;
  --vd-flat-black: #2e3131;
  --vd-danger: #eb1460;
  --vd-success: #33b792;
  --vd-black: #22313f;
  --vd-white: #fff;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
